body{
    /* color:#000; */
    font-family: "Montserrat"
}

#title {
    background-color: #ff4b68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;

}

h1 {
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;    
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;    
}


h3 {
    color:#000;
    margin:5% auto;
    font-family: "Monserrat-Black";
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar Style */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Monserrat-Light";    
    font-size: 1.2rem
}

/* Download Buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}


/* Title Image */

.dog-img {
    /* transform: rotate(15deg); */
    width: 30%;
    position: absolute;
    /* right: 15%; */
}


/* Feature Section */

.feature-txt {
    color: grey;
    font-family: "Monserrat-Light";
}

.feat-sec{
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position:relative;
    /* z-index: 1; We do not need this z-index becuase both of them have positions and the feature section comes after the image */
}

/* Font-Awesome */
.fa-solid {
    color:#ef8172;
    text-align: center;
}

.fa-solid:hover{
    color: #ff4b68;
    font-size: 120%;
}

/* Testimonials Section */
#testimonials {

    background-color:#ff4b68;
    text-align: center;
    color: white;
}

.testimonial-image {
    width: 10%;
    margin:20px;
    border-radius: 100%;
}

.carousel-item{
        padding: 7% 15%;
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}